header {
      background-color: #007BFF;
      color: #00FFFF;
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
      padding: 16px;
    }
    main {
      background-color: #1F0062;
      color: #FFFFFF;
      max-width: 800px;
      margin: 0 auto;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    img {
      width: 80px;
      height: 80px;
    }
    .artigo-autor {
      font-weight: bold;
    }
